#root {
    -fx-background-image: url("img/background4.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.column {
    -fx-background-color: #393838;
    -fx-background-radius: 10;
}

CardUI {
    -fx-opacity: 1.0;
}

.foundation {
    -fx-background-color: #392f0e;
    -fx-opacity: 0.3;
    -fx-background-radius: 10;
}